h1 {
  font-family: 'Ubuntu', sans-serif;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
}
h4 {
  font-family: 'Ubuntu', sans-serif;
}
h5 {
  font-family: 'Ubuntu', sans-serif;
}
h6 {
  font-family: 'Ubuntu', sans-serif;
}
p {
  font-family: 'Ubuntu', sans-serif;
}
a {
  font-family: 'Ubuntu', sans-serif
}
